.infoBar {
  font-variant: italics;
}

.time {
  margin: 0 30px;
}

.footer {
  background: #353535;
  //background: linear-gradient(141deg, #4e11e7 0%, #fff 51%, #FC2759 75%);
  //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.footer h5 {
  color: #555;
  font-weight: bold;
}

.footer h4 {
  color: #5CB8DB;
  font-weight: bold;
}

.footer h4, h5:hover {
  color: #888;
}

.footerstyles {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.footerlinks {
  background-color: black;
}

@media (min-width: 480px) {
  height: auto !important;
}

.copyright {
  background-color: black;
  color: white;
  height: 30px;
  padding-top: 5px;
}

.centerWidth {
  width: 95%;
  margin: auto;
}

.footerTitles {
  padding-top:20px;
  color:#787878;
  font-size: larger;
  //padding:10px;
  //border-bottom: 1px solid #787878;
  font-weight: bold;
//  font-family: monospace !important;
  text-transform: uppercase;
}

.blackBackgroundColor {
  background-color: black;
}

.blackColor {
  color: black;
}
.aboutUs
{
  //text-transform: uppercase;
  color: #787878;
    font-family: inherit;
   // font-size: larger;
}

.cursiveLabel
{
  font-family: cursive;
    color: teal;
}
.bigBanner
{

    font-size: x-large;
    color: royalblue;
    background-color: #f9f9f9;

}
.inputEmail
{
      border-radius: 0px;
    height: 40px;
}

.darkLine{
  border-color:#454b56;
  margin-bottom: 20px;
}