@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}

.imageContainer {
  width: 100%;
}

.nearbyTitleDiv {
  text-align: center;
}

.titleDiv {
  color:darkslategrey;
  font-size: x-large;
  text-transform:capitalize;
}

.masthead {
  background: #2d2d2d;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    border: 1px solid $cyan;
    box-shadow: inset 0 0 10px $cyan;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    color: $cyan;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}

.noContainer {
  width: 100% !important;
}

.ribbon{
    background: red;
    height: 24px;
    line-height: 24px;
    position: relative;
    padding-right: 20px;
    left: -12px;
    padding-left: 0px;
    top: 10px;
    color: #fff;
    width: 10%;
    z-index: 1;



  &:before{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 100%;
  left: 0px;
  border-top: 7px solid #7f0000;
  border-left: 7px solid transparent;
}
  &:after {
  content: '';
    display: block;
    height: 24px;
    width: 0;
    border: 12px solid red;
    border-right-color: transparent;
    position: absolute;
    left: 100%;
    top: 0;
 }
}
.scriptStyles {
  padding: 10px;
  border: 1px solid #36b8e9;
  background: #cfeaf4;
}

.hotelsHeader
{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    border-radius:10px;
}
.packagesHeader
{
    background-color: crimson;
    color: snow;
    text-align: center;
    border-radius:10px;
}
.eventsHeader
{
    background-color: darkseagreen;
    color: darkblue;
    text-align: center;
    border-radius:10px;
}

.parentWidth
{
  width:inherit;
}
.extraWidth
{
  width:110%;
}

.operatorBox
{
    padding: 10px;
    border-radius: 5px;
    background: seashell;
    border:1px solid lavender
}

@media (max-width: 480px) {
.extraWidth
{
  width:100%;
}
  }





