.title {
  height: 50px;
  background: #e1e3e4;
  color: white;
}

.container {
  border: 1px solid #e1e3e4;
}

.contentHolder {
  padding: 10px;
}

.subhead {
  color: darkslategrey;
  padding: 5px;
  font-size: 26px;
}

.scriptStyles {
  padding: 10px;
  border: 1px solid #36b8e9;
  background: #cfeaf4;
}

.slick-prev {
  background-color: red;
}

.slick-next {
  right: 20px !important;
}

.slick-next:before {
  font-size: 36px;
  color: black;
}

.tileTitle {
  color: #5CB8DB;
  text-transform: lowercase;
}

@media (max-width: 480px) {
  .tiles span {
    font-size: 1em !important;
    line-height:20px !important;
  }
  .tiles {
    padding: 4px !important;
  }
  h2 {
    font-size: large;
  }
  h3 {
    font-size: small;
  }
}

.ribbonWrapperGreen {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 19px;
  right: 12px;
  z-index:1;
}

.ribbonGreen {
  font: bold 15px Sans-Serif;
  color: #F9F9F9;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #FA426D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.titleContent > div
{

}

.tileTitle___1kXcb > div
{
  padding:5px 0px 5px 0px !important;
}

.burst12 {
    background: red;
    width: 40px !important;
    height: 40px;
    min-width: 40px !important;
    position: absolute;
    text-align: center;
}
.burst12:before, .burst12:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px !important;
    min-width: 40px !important;
    background: red;
}
.burst12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
.burst12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}


.daysDisplay {
color:white;
    background: cornflowerblue;
    width: 20% !important;
    height: 25px;
    min-width: 40px !important;
    position: absolute;
    text-align: center;
}

span {
 text-transform:capitalize;
}

.tiles {
  span {
    font-size: 18px !important;
     text-transform:capitalize;
  }
}

@media (max-width: 480px) {
  .tiles span {
    font-size: 1em !important;
    line-height:20px !important;
  }
  .tiles {
    padding: 4px !important;
    text-transform:capitalize;
  }
}

.fullWidth
{
  width:100%;
}
