span {
 text-transform:capitalize;
}

.tiles {
  span {
    font-size: 18px !important;
     text-transform:capitalize;
  }
}

@media (max-width: 480px) {
  .tiles span {
    font-size: 1em !important;
    line-height:20px !important;
  }
  .tiles {
    padding: 4px !important;
    text-transform:capitalize;
  }
}


.fullWidth
{
  width:100%;
}