.app {

  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    // background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.logo{
  width: 20%;
  float: left;
}

/* Style the navbar */
.menuItems {
  margin-left: 200px;
  overflow: hidden;
}

/* Navbar links */
.menuItems a {
  float: left;
  display: block;
  color: #FC2759 !important;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


.insightsBar {
 // border-top: 5px solid #457DBB;
 // background-color: #5CB8DB;
  // background-color:#36b8e9;
  border-color:rgba(92, 184, 219, 0.3);
  background: rgba(92, 184, 219, 0.3);
  color: white !important;
 // height: 60px;
 // border-bottom: 2px solid #457DBB;
}
#fxd >.container
{

  width:100% !important;
}



.navbar-fixed-top > .container {
    width: 100% !important;
}

.insightsBar___xoTIV > .container {
  background-color: #5CB8DB;
  width:100% !important;
}

.insightsBar___xoTIV > .navbar-default
{
  border-color:red;
}

.appContent {
  top: 100px;
  margin: 20px 0; // for fixed navbar

  align: center;

}

.pageContainer {
  margin: auto;
  width: 90%;
}

.gradient {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
}

.ltBadge {
  background-color: cornflowerblue;
  font-size: larger;
}

.pink {
  background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f78297', EndColorStr='#f46677');

  border: 1px solid #ce4f5e;

  position: absolute;
  top: -2em;
  right: 0.5em;

  width: 1.5em;
  height: 1.5em;

  line-height: 1.5em;
  text-align: center;

  ont-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .15);

  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 35),
  0px 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .35),
  0px 1px 1px rgba(0, 0, 0, .2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .35),
  0px 1px 1px rgba(0, 0, 0, .2);

  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;

  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: .3s top ease-in, .3s opacity ease-in;
  -moz-transition: .3s top ease-in, .3s opacity ease-in;
  -o-transition: .3s top ease-in, .3s opacity ease-in;
  -ms-transition: .3s top ease-in, .3s opacity ease-in;
  transition: .3s top ease-in, .3s opacity ease-in;
}

.loginButton
{
    float: right;
   // padding-right: 10px;

}

.fixed
{
  position: fixed;
  width:100%;
  z-index:1000;

}

.offerBar
{
  background-color: #F9F9F9;
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.logoContainer
{
  top:70px;
  text-align: center;
}

.smalltopbar {
  background: white !important;
  opacity: 0.9;
 // padding-bottom: 10px;
  padding-top: 0px;
  padding-left: 25px;
  text-align: left;
  height: 45px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
  //border-bottom: 2px solid blue;
}



.smalltopbar a {
  color: #ffffff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 1;
  font-weight: bold;
}
.smalltopbar a:hover {
  opacity: 1;
}
.tophiddenbar {
  display: block;
  width: 100%;
  background: #000000;
  color: #fff;
  font-weight: bold;
  padding: 8px 0;
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
}
.tophiddenbar a {
  color: #fff;
  font-size: 1.0em;
  text-decoration: none;
  opacity: 0.5;
  text-shadow: none;
}
.tophiddenbar a:hover { opacity: 1; }

.smalltopbar:hover {
//height: 120px; //uncomment it when search bar is implemented
}

@media (max-width: 480px) {
  .pageContainer {
    width: 100%;
  }
  .insightsBar {
    position: relative !important;
  }
}

.searchContainer
{
  padding-top:10px;
  padding-bottom:10px;
}

.fullWidth
{
  width:100%;
}

.noPadding
{
 padding:0;
}

.height54
{
  height:54px;
  width:100%;
      font-size: x-large;
    color: black;
}
.fullOverlay
{
  opacity: 1;
    background: #E7F3F7;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
}

.preloader
{
padding: 100px;
    z-index: 999;
    width: 100%;
    text-align: center
}



